@charset "Utf-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body, html{
    background-color: lightgray;
}

header{
    background-color: rgb(133, 133, 133);
}
header > h1{
    padding: 10px;
    text-align: center;
    font-weight: 800;
}
menu {
    display: none;
}
menu > ul {
    list-style-type:  none;
}
menu > ul > li > a{
    display: block;
    text-decoration: none;
    padding: 10px;
    background-color: rgb(87,87,87);
    color: rgb(241, 241, 241);
    text-align: center;
    border-top: 2px solid gray;
}
menu > ul > li > a:hover{
    background-color: rgb(126, 126, 126);
    
}
#menuburguer{
    background-color: rgb(39, 39, 39);
    display: block;
    color: rgba(255, 255, 255, 0.801);
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
#menuburguer:hover{
    background-color: white;
    color: rgb(0, 0, 0);
}

main{
    width: 90vw;
    display: block;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
}
main > article > h2{
    padding-bottom: 20px;
}

main > article > p{
    text-align: justify;
    margin-bottom: 20px ;
    text-indent: 20px;
}